@model object

<html>

<head>
    <style>
        body {
            margin: 0;
            background-color: #1e3358;
            font-face{font-family:Sahel;src:url("/fonts/sahel/Sahel.eot");src:url("/fonts/sahel/Sahel.eot?#iefix") format("embedded-opentype"),url("/fonts/sahel/Sahel.woff2") format("woff2"),url("/fonts/sahel/Sahel.woff") format("woff"),url("/fonts/sahel/Sahel.ttf") format("truetype");
                      font-weight:400;font-style:normal}
        };
    </style>

    <script src="~/vis/vis.js"></script>
    <link href="~/vis/vis-network.min.css" rel="stylesheet" />
</head>

<body>
    <div id="graph"></div>
    <script>
        var len = undefined;


        //var nodes = [{ id: 0, label: "0", link: "google.com", image: "http:\/\/nopahub.com\/storage\/cache\/Fit_200_auto\/ecosystem\/smartup1.png", color: { "background": "#fff", "border": "black" } },
        //    { "id": 1, "label": "1", link: "google.com", image: "http:\/\/nopahub.com\/storage\/cache\/Fit_200_auto\/ecosystem\/smartup1.png", color: { "background": "#fff", "border": "black" } },
        //    { id: 2, label: "2", link: "google.com", image: "http://nopahub.com/storage/cache/Fit_200_auto/ecosystem/smartup1.png", color: { "background": "#fff", "border": "black" }},
        //    { id: 3, label: "3", link: "google.com", image: "http:\/\/nopahub.com\/storage\/cache\/Fit_200_auto\/ecosystem\/smartup1.png", color: { "background": "#fff", "border": "black" }},
        //    { id: 4, label: "4", link: "google.com", image: "http:\/\/nopahub.com\/storage\/cache\/Fit_200_auto\/ecosystem\/smartup1.png", color: { "background": "#fff", "border": "black" } }
        //];
        //var edges = [{ from: 1, to: 0 },
        //{ from: 2, to: 0 },
        //{ from: 4, to: 3 },
        //{ from: 3, to: 4 },
        //{ from: 4, to: 0 }
        //]

        // create a network
        var container = document.getElementById('graph');
         var data  = @Html.Raw(Json.Encode(Model))
        var options = {
            edges: {
                arrows: {
                    to: { enabled: true, scaleFactor: 1, type: 'arrow' },
                },
                hoverWidth: 1,
                smooth: {
                    enabled: true,
                    type: 'cubicBezier',
                    roundness: 0
                }
            },
            nodes: {
                borderWidth: 4,
                shape: 'circularImage',
                shapeProperties: {
                    useBorderWithImage: true
                },
                size: 20,
                font: {
                    face: 'Sahel',
                    color: 'white'
                }
            },
            physics: {
                solver: 'barnesHut',
                barnesHut: {
                    gravitationalConstant: -8000,
                    centralGravity: 0.8,
                    springLength: 95,
                    springConstant: 0.04,
                    damping: 0.1,
                    avoidOverlap: 0.3
                },
                stabilization: {
                    enabled: true,
                    iterations: 3000,
                    updateInterval: 100,
                    onlyDynamicEdges: false,
                    fit: true
                },
            },
            layout: {
                randomSeed: 1,
            }
        };
        network = new vis.Network(container, data, options);
    </script>
</body>


</html>